body, ul {
    margin: 0;
    padding: 0;
    background-color: rgb(178, 214, 246);
}

.nav-menu{
   list-style-type: none;
   background-color: #0e0101;
   overflow: hidden;
   margin: 0;
   padding: 0;

}
.nav-menu li {
    float: left;
  }
  
  .nav-menu a  {
      display: block;
      color: white; 
      text-align: center; 
      padding: 14px 20px; 
      text-decoration: none;
  
  }
  
  .nav-menu a:hover {
      background-color: #111;}